@charset "UTF-8";
#boardHeader{
   width:100%;
   margin-top:2%;
   display:flex;
   justify-content: center;
   overflow: hidden;
}
.visible{
	display:block;
}
#boardHeader h2{
   font-weight:900;
   overflow: hidden;
}
#boardmenu{
   display:flex;
   justify-content: center;
   margin-top:10px;
}
#boardmenu a{
   text-decoration: none;
   color:gray;
   font-size:15px;
   font-weight:bolder;
   padding-right:2%;
   padding-left:2%;
}
#boardmenu>a:nth-child(3){
   color:black;
   font-weight:900;
   font-size:18px;
   text-decoration-line:underline;
   text-decoration-color:rgb(255,237,164);
   text-decoration-thickness:3px;
}
#boardmenu>a:not(a:nth-child(3)):hover{
	font-size:16px;
	opacity: 70%;
}
.postFooter>div>div{
	display:flex;
	justify-content: space-between;
}
.postFooter>div>div p{
	padding-left:5px;
}
.mainview{
	width:70vw;
	height:600px;
	margin-top:20px;
	margin-left:auto;
	margin-right:auto;
	display:flex;
	flex-wrap: wrap;
}
.mainview>.post{
	width:20%;
	height:45%;
	margin-top:5px;
	margin-right:20px;
	margin-left:30px;
	display:flex;
	position:relative;
	z-index:1;
	flex-direction: column;
	font-size:13px;
	border-radius: 5px;
	border:1px solid gray;
}
.mainview>.post:hover{
	cursor: pointer;
}
.mainview>.post>.postHeader{
	display:flex;
	justify-content: space-between;
	align-content:center;
	align-items:center;
	width:100%;
	height:10%;
	background-color:#fffcf2;
	box-sizing: border-box;
	padding-left:1%;
	padding-right:1%;
}
.mainview>.post>.postHeader *{
	margin:0;
}
.mainview>.post>.postHeader>div{
	display:flex;
}
.mainview>.post>.postHeader img{
	width:20px;
	height:20px;
}
.mainview>.post>.postBody{
	width:100%;
	height:70%;
}
.mainview>.post>.postBody img{
	width:100%;
	height:100%;
}
.mainview>.post>.postFooter{
	display:flex;
	flex-direction: column;
	height:20%;
	font-size:12px;
	background-color:#fffcf2;
}
.mainview>.post>.postFooter>div:first-child{
	width:100%;
	height:60%;
	display:flex;
	justify-content: space-around;
	margin-top:3px;
}
.mainview>.post>.postFooter>div:last-child{
	width:100%;
	height:40%;
}
.mainview>.post>.postFooter img{
	width:20px;
	height:20px;
}

.mainview>.post>.postFooter>div:last-child>p{
	width:100%;
	height:100%;
	font-weight:900;
	padding-left: 5%;
}
.mainview>.post>.postFooter *{
	align-items: center;
	margin:0;
}
.postFooter img:last-child{
	position: relative;
}
#freeboardFooter1{
   margin-top:1%;
   display:flex;
   width:100%;
   justify-content: center;
      height:5%;
}
#freeboardInsert{
   position: relative;
}
#freeboardFooter2{
   margin-top:1%;
   margin-bottom:2%;
   display:flex;
   justify-content: center;
}
#freeboardFooter2 a{
   text-decoration: none;
   color:black;
   text-align: center;
	font-weight: 400;
}
#freeboardFooter2 p{
	text-align: center;
	color:gray;
}
.insert_board{
	position: relative;
	left:27%;
	padding:3px;
	border-radius:5px;
	background-color:#333333;
	color:white;
	border:1px solid lightgray;
	font-size:15px;
	font-weight:400;
}
.page1{
   width:50px;
}
.page2 {
   font-size:16px;
   width:30px;
   height:30px;
   background-color:lightgray;
   margin-left:5px;
   margin-right:5px;
   border-radius: 6px;
   align-content: center;
}
.visible-box{
   position:relative;
   left:40%;
   top: 10px;
   width: 65px;
   height:60px;
   border:1px solid gray;
   border-radius:5px;
   font-size:15px;
   font-weight: 400;
}
.popup p{
	margin:0;
}
.popup *{
	box-sizing: border-box;
}
.popup {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  z-index: 9999; 
}
#close_popup{
	position: absolute;
	right:0;
	right:20%;
	top:12%;
}
#close_popup:hover{
	cursor: pointer;
}
#post_view_info{
  background-color: #fff;
  border-radius: 5px;
  position: absolute;
  top: 50%;
  left: 50%;
  width:60vw;
  height:67vh;
  transform: translate(-50%, -50%);
  display:flex;
}
#post_view_left{
	width:60%;
	height:100%;
	background-color:black;
	margin:0;
}
.carousel-item img {
    transform: none !important; /* transform 속성 제거 */
}
#post_view_right{
	width:40%;
	height:100%;
	display:flex;
	flex-direction: column;
}
#post_view_header{
	width:100%;
	height:10%;
	display:flex;
	flex-direction:column;
	justify-content:space-between;
	align-content:center;
	align-items:flex-start;
	box-sizing:border-box;
}
#post_view_header>div{
	display:flex;
	align-content:center;
	align-items:center;
	justify-content:space-between;
	width:100%;
	height:50%;
	padding:0 10px 0 10px;
}
#post_view_header>div>div{
	width:50%;
	display:flex;
}
#post_view_header>p{
	width:90%;
	margin-left:10px;
}
#post_view_header img{
	width:20px;
	height:20px;
	border-radius: 50%;
	margin-right:10px;
}
#post_view_header p{
	font-size:12px;
	font-weight: 900;
}
#post_comment{
	width:100%;
	height:75%;
	overflow-y: auto;
	overflow-x:hidden;
}
#main_comment{
	width:100%;
	height:auto;
	box-sizing:content-box;
	display:flex;
	flex-direction:row;
	align-items:center;
	padding-left:10px;
	padding-right:10px;
}
.main_comment_img{
	width:25px;
	height:25px;
	border-radius: 50%;
}
.main_comment_id{
	font-weight: 600;
	font-size:14px;
}
.main_comment_content{
	width:70%;
	padding-left:10px;
	font-size:11px;
}
#post_comment button{
	box-sizing:border-box;
	width:60px;
	height:auto;
	font-size:10px;
	color:gray;
	border-style:none;
	font-weight:500;
	margin-left:10px;
	background-color:rgb(0,0,0,0);
	margin-bottom:5px;
}
#sub_comment{
	width:90%;
	height:auto;
	margin-left:10%;
	box-sizing:content-box;
	display:flex;
	flex-direction:row;
	align-items:center;
	padding-left:10px;
	padding-right:10px;
}
#post_footer_icon:first-child:hover{
	cursor:pointer;
}
.sub_comment_img{
	width:20px;
	height:20px;
	border-radius: 50%;
}
.sub_comment_id{
	font-size:14px;
	font-weight: 600;
}
.sub_comment_content{
	width:70%;
	padding-left:10px;
	font-size:11px;
}
#post_footer{
	width:100%;
	height:15%;
	display:flex;
	flex-direction: column;
	justify-content:space-between;
}
#post_footer_icon{
	display:flex;
	padding:10px;
	justify-content:space-between;
	width:30%;
	height:50%;
	overflow: hidden;
}
.post_footer_menu:hover{
	cursor: pointer;
}
.post_footer_menu{
	position: absolute;
	right:23%;
	bottom:6%;
	width:50px;
	height:auto;
	font-size:11px;
	display:flex;
	flex-direction: column;
	border-radius: 5px;
	border:1px solid black;
	display:none;
}
.post_footer_menu button{
	border-style: none;
	width:100%;
}
.post_footer_menu button:first-child{
	border-bottom: 1px solid black;
}
#post_footer_icon img{
	width:20px;
	height:20px;
}
#post_footer_insert_comment{
	width:100%;
	height:50%;
}
#post_footer_insert_comment>form{
	width:100%;
	height:100%;
}
#post_footer_insert_comment input[type='text']{
	width:100%;
	height:100%;
}







#report-container {
    	position:absolute;
    	z-index:10000;
        width: 400px;
        margin: 50px auto;
        padding: 20px;
        border-radius: 5px;
        background-color: #fff;
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
        box-sizing: border-box;
        left:40%;
        display:none;
    }

    .category {
        font-size: 16px;
        font-weight: bold;
        margin-bottom: 10px;
    }

    .report-button {
        display: block;
        margin: 5px 0;
        padding: 10px;
        border: none;
        border-radius: 3px;
        cursor: pointer;
        font-size: 14px;
        font-weight: bold;
        text-align: center;
        text-transform: uppercase;
        background-color: #e74c3c;
        color: #fff;
        transition: background-color 0.3s;
    }

    .report-button:hover {
        background-color: #c0392b;
    }

    #report-textarea {
        width: calc(100% - 22px);
        margin-top: 10px;
        padding: 10px;
        border: 1px solid #ccc;
        border-radius: 3px;
        resize: none;
    }

    .submit-button {
        width: 100%;
        margin-top: 10px;
        padding: 10px;
        border: none;
        border-radius: 3px;
        cursor: pointer;
        font-size: 14px;
        font-weight: bold;
        text-align: center;
        text-transform: uppercase;
        background-color: #27ae60;
        color: #fff;
        transition: background-color 0.3s;
    }

    .submit-button:hover {
        background-color: #219653;
    }

    .close-modal {
        position: absolute;
        top: 0;
        right: 10px;
        cursor: pointer;
        font-size: 40px;
        color: #aaa;
        transition: color 0.3s;
    }

    .close-modal:hover {
        color: #555;
    }