@charset "UTF-8";
h3:first-child{
	margin-top:40px;
	text-align: center;
	font-weight:600;
	overflow: hidden;
}
h6{
	text-align: center;
	margin-top:60px;
	overflow: hidden;
	font-weight: 600;
}
.br{
	position:relative;
	top:20px;
	left:15%;
	width:70vw;
	height:3px;
	background-color: lightgray;
	margin-bottom:40px;
}
.insertBoard1{
	position:relative;
	left:15%;
	width:70vw;
	height:50px;
	border:1px solid lightgray;
	border-radius: 5px;
	display:flex;
	justify-content: space-around;
	align-content: center;
	align-items: center;
}
.insertBoard1>input[type=text]{
	width:80%;
	height:80%;
	background-color: lightgray;
	border-style: none;
	border-radius:5px;
}
.insertBoard1>label{
	position: relative;
	right:30px;
	font-size:15px;
}
.insertBoard2{
	top:20px;
	position:relative;
	left:15%;
	display: flex;
	flex-direction: column;
	width:70vw;
	height:60vh;
	background-color:#f1f3f5;
	border:1px solid lightgray;
	border-radius:5px;
}
.insertBoard2>div{
	display:flex;
	width:100%;
	height:13%;
	justify-content: space-between;
	align-items: center;
}
.insertBoard2>div>.menu1{
	margin-left:10px;
	display:flex;
	align-content: center;
	align-items: center;
}
.insertBoard2>div>.menu1>#inputImg{
	width:auto;
	height:auto;
	display:flex;
	flex-direction: column;
	text-align:center;
	margin-right:25px;
	font-size:13px;
	cursor:pointer;
}
.insertBoard2>div>.menu1>#inputImg>img{
	width:33px;
	height:33px;
}
.insertBoard2>div>.menu1>select:first-child{
	width:80px;
	height:30px;
}
.insertBoard2>div>.menu1>select:last-child{
	margin-left:10px;
}
.insertBoard2>div>.menu2{
	margin-right:10px;
}
.insertBoard2>div>.menu2>input[type=button]{
	color:white;
	background-color:black;
	border-radius:5px;
	font-size:12px;
	font-weight:600;
	width:40px;
	height:25px;
}
.insertBoard2>textarea{
	margin-left:auto;
	margin-right:auto;
	width:99%;
	height:87%;
	resize: none;
	overflow-y: scroll;
	border-radius: 5px;
}