@charset "UTF-8";
h3{
            margin-top:30px;
            font-weight: 500;
            text-align: center;
            overflow: hidden;
            
        }
h3:hover{
	cursor: pointer;
}
        .freeboard-br{
            width:70vw;
            height:0.5px;
            border: 0.3px solid lightgray;
            margin-left:auto;
            margin-right:auto;
            margin-top:30px;
            margin-bottom: 30px;
            background-color:lightgray;
        }
        .freeboard-view-container{
        	position: relative;
            width:70vw;
            height:70vh;
            border: 1px solid lightgray;
            border-radius: 8px;
            margin-left:auto;
            margin-right:auto;
            z-index: 1;
        }
        .freeboard-view-header{
            width:100%;
            height:10%;
            background-color: rgb(236, 236, 236);
            display:flex;
            justify-content: space-between;
            align-content: center;
            box-sizing: border-box;
        }
        .freeboard-view-header>div:first-child{
            width:30%;
            font-size: 25px;
            margin-left: 10px;
            display: flex;
            align-items: center;
        }
        .freeboard-view-header>div:first-child>p{
            margin:0;
        }
        .freeboard-view-header>div:last-child{
            width:50%;
            display: flex;
            justify-content: space-around;
            align-items: center;
        }
        .freeboard-view-header>div:last-child p{
            margin:0;
        }
        .freeboard-view-header>div:last-child>div:hover{
        	cursor: pointer;
        }
        .freeboard-view-header>div:last-child>div{
            display: flex;
            width:30%;
            height:90%;
            justify-content:space-around;
            align-items: center;
            background-color: lightgray;
            border-radius: 5px;
        }
        .freeboard-view-header>div:last-child>div>img{
        	width:20%;
        	height:80%;
        	border-radius: 50%;
        }
        .freeboard-user-container{
        	position: absolute;
        	width:15%;
        	height:50px;
        	display:flex;
        	flex-direction:column;
        	font-size:11px;
        	right:29px;
        	top:46px;
        	z-index: 5;
        	box-sizing: border-box;
        	border:1px solid lightgray;
        	border-radius: 5px;
        	display:none;
        }
        .freeboard-user-container button{
        	width:100%;
        	height: 50%;
        	border-style: none;
        }
        .freeboard-user-container button:first-child{
        	box-sizing: border-box;
        	border-bottom: 1px solid lightgray;
        }
        .freeboard-view-body{
            height:90%;
            width:100%;
            overflow-y: auto;
        }
        .freeboard-comment-container{
        	width:70vw;
        	margin-left:auto;
        	margin-right:auto;
        }
        .freeboard-comment{
        	width:100%;
        }
        .freeboard-comment-header{
        	display:flex;
        	width:100%;
        	height:10%;
        	justify-content: space-between;
        	align-content: center;
        	align-items:center; 
        }
        .freeboard-comment-header p {
        	margin:0;
        }
       	.freeboard-comment-header div{
       		display:flex;
       		align-content: center;
       		align-items: center;
       		height:100%;
       	}
       	.freeboard-comment-header>div:first-child{
       		width:20%;
       	}
       	.freeboard-comment-header>div:first-child>p{
       		margin-left:10px;
       	}
       	.freeboard-comment-menu{
       		height:100%;
       	}
       	.freeboard-comment-menu>div{
       		display:flex;
       		flex-direction: column;
       		justify-content:center;
       		width:70px;
       		height:60px;
       		border:1px solid lightgray;
       		border-radius: 8px;
       		display:none;
       	}
       	.freeboard-comment-menu>div>button{
       		font-size:11px;
       		width:100%;
       		height:30px;
       		border-style: none;
       		box-sizing: border-box;
       	}
       	.freeboard-comment-menu>div>button:first-child{
       		border-bottom:1px solid lightgray;
			box-sizing:border-box;
       	}
       	.freeboard-comment-body{
       		width:90%;
       		height:auto;
       		margin-left:auto;
       		margin-right:auto;
       		margin-top:3px;
       	}
       	.freeboard-comment-body p{
       		margin:0;
       	}
       	.freeboard-comment-body>button{
       		font-size:12px;
       		border:1px solid gray;
       		border-radius: 5px;
       		background-color: lightgray;
       	}
       	.freeboard-comment-insert{
       		width:80%;
       		height:50px;
       		margin-top:20px;
       		margin-left:auto;
       		margin-bottom:30px;
       		margin-right:auto;
       		display:flex;
       		align-content: space-between;
       		background-color:rgb(236, 236, 236);
       		border-radius: 8px;
       		border-style:none;
       	}
       	.freeboard-comment-insert>input[type="text"]{
       		width:93%;
       		height:100%;
       		border-style: none;
       		background-color:rgb(236, 236, 236);
       	}
       	.freeboard-comment-insert>input[type="submit"]{
       		height:80%;
       		width:5%;
       		font-size:11px;
       		border-radius: 50%;
       		border-style:none;
       		background-color:gray;
       		margin-top:auto;
       		margin-bottom:auto;
       		font-weight: 800;
       	}
       	
       	.sub-comment{
       		width:60vw;
       		margin-left:auto;
       		margin-right:auto;
       		margin-top:10px;
       	}	
       	.freeboard-comment-body-sub{
       		width:80%;
       		height:auto;
       		margin-left:auto;
       		margin-right:auto;
       		margin-top:3px;
       	}
       	#editContent{
       		width:100%;
       		height:500px;
       		border-style: none;
       		resize: none;
       	}