@charset "UTF-8";

/* 상품 이미지, 옵션, 구매 */
.detailContainer{
	display:flex;
	justify-content:center;
	align-items:center;
	height:auto;
}
.detailContainer>div{
	width:90vw;
	height:90%;
	margin-top:5vh;
	display:flex;
	flex-direction:row;
}
/* 상품이미지부분 */
.productImg{
	width:70%;
	height:70vh;
	display:flex;
	flex-direction:column;
	flex-wrap:wrap;
}
.selectedimg{
	border:2px solid #346aff;
}
.iborder{
	display:block;
	position:absolute;
	left:0;
	right:0;
	top:0;
	bottom:0;
}
.mainProductImg{
	width:80%;
	height:100%;
}
.imgbordercontainer{
	 width:12%;
	 height:16%;
	 position:relative;
	 overflow:hidden;
	 border-radius:2px;
	 margin-bottom:10px;
	 cursor:pointer;
}
.productImgs{
	display:block;
	width:100%;
	height:100%;
}
/* 상품 구매 부분 */
.purchase{
	width:50%;
	height:70vh;
	display:flex;
	justify-content:center;
	align-items:center;
}
.purchase>div{
	width:90%;
	height:90%;
	display:flex;
	flex-direction:column;
	justify-content:space-between;
}
/* 상품이름 */
.name{

}
.name>span{
	font-size:30px;
}
/* 상품 할인율 가격 표시 */
.price{

}
.discountRate{
	color:red;
	font-weight:900;
	font-size:25px;
}
.cost{
	font-size:20px;
	color:lightgray;
	text-decoration:line-through;
}
.salePrices{
	font-size:25px;
	font-weight:900;
}
/* 옵션 */
.option{
	display:flex;
	flex-direction:column;
}
.option select{
	width:50%;
	margin-top:1%;
}
/* 구매수량, +, - 버튼 */
.purchaseQuantity{
	font-size:25px;
	margin-left:3%;
	margin-right:3%;
	width:30px;
	text-align:center;
}
.quantity{
	display:flex;
	align-items:center;
	text-align:center;
}
.quantity>button{
	width:25px;
	height:25px;
	border:none;
	border-radius:50%;
	color:white;
	background-color:#5b9dff;
	display:flex;
	justify-content:center;
}
.stockalarm{
	font-weight:900;
	color:red;
}
/* 구매버튼 */
.purchaseButton{
	height:auto;
}
.purchaseButton>button{
	width:40%;
	height:6vh;
	background-color:#5b9dff;
	color:white;
	text-decoration:none;
	border-radius:5px;
	border:none;
}

/* 총 별점, 전체 리뷰 수 */
.starReviewContainer{
	display:flex;
	flex-direction:row;
	width:100%;
	height:30vh;
	justify-content:center;
	font-size:30px;	
	font-weight:900;
	margin-top:3%;
}

/* 별점 */
.starContainer{
	width:45%;
	display:flex;
	justify-content:center;
	align-items:center;
	flex-direction:column;
	border-right:1px solid lightgray;
	border-bottom:1px solid lightgray;
}
.stars{
	display:flex;
	flex-diraction:row;
}
.star {
    width: 50px;
    height: 50px;
    background-color: gray;
    clip-path: polygon(
        50% 0%,
        61% 35%,
        98% 35%,
        68% 57%,
        79% 91%,
        50% 70%,
        21% 91%,
        32% 57%,
        2% 35%,
        39% 35%
    );
    margin: 5px;
    position: relative;
}

.full-star {
    background-color: gold;
}

.half-star {
    background: linear-gradient(90deg, gold 50%, gray 50%);
}

.empty-star {
    background-color: gray;
}
/* 리뷰 총 개수 */
.reviews{
	/* border:1px solid yellow; */
	width:45%;
	display:flex;
	justify-content:space-evenly;
	align-items:center;
	flex-direction:column;
	border-bottom:1px solid lightgray;
}

/* 이동메뉴 */
.moveMenuContainer{
	width:100%;
	height:50px;
	/* border:1px solid red; */
	display:flex;
	justify-content:center;
	align-items:center;
	background-color:white;
}
.fixed{
	position:fixed;
	top:0;
	left:0;
	z-index:1000;
}
.moveMenuWidth{
	width:80%;
	height:100%;
}
.moveMenu{
	list-style-type:none;
	padding:0;
	margin:0;
	border:1px solid lightgray;
	border-top:0;
	display:flex;
	flex-direction:row;
	justify-content:space-around;
	text-align:center;
	height:49px;
}
.moveMenu li{
	width:20%;
	font-size:30px;
	cursor:pointer;
}

/* 상세설명 이미지 */
.detailImgContainer{
	height:auto;
	display:flex;
	flex-direction:column;
	align-items:center;
}
.detailImg{
	width:80%;
	height:auto;
	/* border:1px solid red; */
	display:flex;
	flex-direction:column;
	justify-content:center;
	align-items:center;
}
.foldingoption{
	height:800px;
	overflow:hidden;
}
.folding{
	width:20%;
	height:50px;
	display:flex;
	justify-content:center;
	align-items:center;
	border:1px solid #346aff;
	border-radius:5px;
	margin-top:5px;
	margin-bottom:50px;
	background:none;
}
.folding:hover{
	background-color:#346aff;
	color:white;
}
/* 리뷰들 */
.reviewBox{
	border-bottom:1px solid lightgray;
	width:100%;
}
.reviewContainer{
	height:auto;
	display:flex;
	justify-content:center;
}
.reviewContainer>div{
	width:90%;
	height:auto;
	display:flex;
	flex-direction:column;
}
.reviewContainer>div>span{
	font-size:30px;
}
/* 리뷰 정렬메뉴 */
.reviewSortMenu{
	display:flex;
	flex-direction:row;
	margin-top:20px;
	border-bottom:1px solid lightgray;
}
.reviewSortMenu button{
	background-color:white;
	border:none;
}
.datesort{
	color:lightgray;
}
.ratingsort{
	color:lightgray;
}
.selectedReviewSortbtn{
	color:black;	
}
.reviewSortMenu div{
	margin-left:1%;
	margin-right:1%;
	color:lightgray;
	font-size:14px;
}
/* 리뷰 작성 회원 부분 */
.reviewWriter{
	display:flex;
	flex-direction:row;
	margin-top:1%;
}
.reviewWriterImg{
	width:32px;
	height:32px;
}
.reviewWriterImg img{
	width:32px;
	height:32px;
	border-radius:50%;
}
/* 회원아이디 */
.memberName{
	font-weight:900;
	font-size:20px;
}
/* 리뷰등록날짜 */
.reviewDate{
	font-size:14px;
	color:lightgray;
}
/* 리뷰 사진들 */
.reviewImgs{
	display:flex;
	flex-direction:row;
	height:auto;
}
.reviewImgs img{
	width:100px;
	height:100px;
	margin-right:5px;
	cursor:pointer;
}
/* 리뷰 내용 */
.reviewContent{
	margin-top:1%;
	margin-bottom:1%;
	height:auto;
}
/* 리뷰 페이지바 */
.pagebardiv{
	margin-top:10px;
}
#reviewpagebar{
	display:flex;
	justify-content:center;
	align-items:center;
}
.pagebarnum{
	border:1px solid #346aff;
	margin-right:15px;
	height:30px;
	width:30px;
	border-radius:5px;
	transition:hover .1s ease;
	background-color:#346aff;
	color:white;
	display:flex;
	justify-content:center;
	align-items:center;
	margin-bottom:0;
}
.pagebarnumbtn{
	background:none;
	border:1px solid #346aff;
	margin-right:15px;
	height:30px;
	width:30px;
	border-radius:5px;
	transition:hover .1s ease;
}
.pagebarnumbtn:hover{
	color:white;
	background-color:#346aff;
}
.pagebarinequality{
	margin-right:15px;
	margin-bottom:0;
}
.pagebarinequalitybtn{
	background:none;
	border:none;
	margin-right:15px;
}
/* q&a 컨테이너 */
.qnaContainer{
	height:auto;
	display:flex;
	justify-content:center;
	margin-top:3%;
	align-items:center;
}
.qnaPostContainer{
	width:90%;
	display:flex;
	flex-direction:column;
	
}
.qnaHead{
	display:flex;
	justify-content: space-between;
    align-items: center;
    border-bottom:2px solid lightgray;
}
.enrollQna{
	background: none;
    border: 1px solid #346aff;
    border-radius: 5px;
    width: 150px;
    height: 35px;
}
.enrollQna:hover{
	background-color:#346aff;
	color:white;
}
.qnaPostBox{
	display: flex;
    justify-content: space-between;
    border-bottom: 1px solid lightgray;
}
.qnaAnswerBox{
	display: flex;
    justify-content: space-between;
    border-bottom: 1px solid lightgray;
}
.qnaTitle{
	display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 85%;
    margin-bottom:5px;
    margin-top:5px;
}
.qnaContent{
	width:75%;
}
.qnaText{
	font-size:50px;
	font-weight:900;
}
.qnatag{
	width: 40px;
    text-align: center;
    margin-right: 10px;
    background-color: gray;
    color: white;
}
.answertag{
	width: 40px;
    text-align: center;
    margin-right: 10px;
    background-color: #346aff;
    color: white;
}
.arrow{
	display: flex;
    width: 30px;
    height: 25px;
    margin-left:15px;
}
.arrow img{
	width:20px;
	height:20px;
}
.qnadeletebtn{
	color:#346aff;
	cursor:pointer;
	background:none;
	border: 1px solid rgba(0, 0, 0, 0);
}
.qnadeletebtn:hover{
	border-bottom:1px solid #346aff;
}
.qnaupdatebtn{
	color:#346aff;
	cursor:pointer;
	background:none;
	border: 1px solid rgba(0, 0, 0, 0);
}
.qnaupdatebtn:hover{
	border-bottom:1px solid #346aff;
}
/* qna 페이지바 */
.qnapagebarContainer{
	margin-top:10px;
	margin-bottom:10%;
}
#qnapagebar{
	display:flex;
	justify-content:center;
	align-items:center;
}
.qnapagebarnum{
	border:1px solid #346aff;
	margin-right:15px;
	height:30px;
	width:30px;
	border-radius:5px;
	transition:hover .1s ease;
	background-color:#346aff;
	color:white;
	display:flex;
	justify-content:center;
	align-items:center;
	margin-bottom:0;
}
.qnapagebarnumbtn{
	background:none;
	border:1px solid #346aff;
	margin-right:15px;
	height:30px;
	width:30px;
	border-radius:5px;
	transition:hover .1s ease;
}
.qnapagebarnumbtn:hover{
	color:white;
	background-color:#346aff;
}
.qnapagebarinequality{
	margin-right:15px;
	margin-bottom:0;
}
.qnapagebarinequalitybtn{
	background:none;
	border:none;
	margin-right:15px;
}
/* modal */
/* 리뷰 이미지 모달 */
.modalContainer{
	width:100%;
	height:100%;
	position:fixed;
	top:0;
	left:0;
	display:flex;
	flex-direction:row;
	justify-content:center;
	align-items:center;
	background-color:rgba(0,0,0,0.87);
	z-index:1100;
	text-align:center;
}
.modalhidden{
	display:none;
}
.modalContent{
	position:relative;
	width:60%;
	height:75%;
	opacity:1;
	padding:60px;
	color:white;
}
.modalContent button{
	background:initial;
	border:none;
	color:white;
}
.modalclosebtn{
	position:absolute;
	top:0;
	right:0;
	width:60px;
	height:60px;
	overflow:hidden;
	font-size:50px;
	font-weight:900;
	display:flex;
	align-items:end;
	justify-content:center;
}
.modalleftbtn{
	position:absolute;
	top:40%;
	left:0;
	width:10%;
	height:25%;
	font-size:100px;
}
.modalrightbtn{
	position:absolute;
	top:40%;
	right:0;
	width:10%;
	height:25%;
	font-size:100px;
}
.modalimgdiv{
	height:100%;
	display:flex;
	flex-direction:column;
	justify-content:center;
	align-items:center;
}
.modalmainimgdiv{
	height:90%;
	width:100%;
	margin-bottom:5px;
}
.modalmainimg{
	width:50%;
	height:100%;
}
.modalallimgsdiv{
	width:90%;
	height:15%;
}
.modalreviewimg{
	position:relative;
	margin-right:5px;
	cursor:pointer;
	box-sizing:border-box;
	transition: border .1s ease;
	width:8%;
	height:100%;
}
.selectedreviewimg{
	border:3px solid #346aff;
}

/* qna 문의하기 등록 모달 */
.qnamodalContainer{
	width:100%;
	height:100%;
	position:fixed;
	top:0;
	left:0;
	display:flex;
	flex-direction:row;
	justify-content:center;
	align-items:center;
	background-color:rgba(0,0,0,0.87);
	z-index:1100;
	text-align:center;
}
.qnamodalhidden{
	display:none;
}
.qnaheaddiv{
	background-color: white;
    width: 40%;
    height: 45%;
    display: flex;
    flex-direction: column;
}
.modalhead{
	display: flex;
    justify-content: space-between;
    background-color:#eee;
    align-items: center;
    height: 20%;
}
.qtext{
	font-size: 27px;
    margin-left: 4%;
    margin-top: 2%;
    height: 35px;
}
.qnamodalclosebtn{
	margin-right: 3%;
    margin-top: 2%;
    height: 34px;
    width: 40px;
    font-weight: 900;
    cursor: pointer;
    font-size: 27px;
}
.qnacontentdiv{
	display: flex;
    height: 60%;
    margin-top: 20px;
}
.contenthead{
	width: 25%;
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.qnatextdiv{
    width: 75%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.qnatextarea{
	width: 95%;
    height: 95%;
}
textarea:focus {
  outline: none; /* 포커스 테두리 제거 */
}
.qnabtndiv{
	height: 15%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.qnabtn{
	border: 1px solid #346aff;
    border-radius: 5px;
    width: 25%;
    height: 70%;
    background-color:#346aff;
	color:white;
}
.qnamodalupdatebtn{
	border: 1px solid #346aff;
    border-radius: 5px;
    width: 25%;
    height: 70%;
    background-color:#346aff;
	color:white;
}
/* top버튼 */
.topbtn{
	position: fixed;
    top: 75%;
    left: 96%;
    width: 50px;
    border:none;
    height: 50px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: blue;
    color:white;
    font-weight:900;
}
.topbtn:hover{
	background-color:rgb(0,0,0,0.8);
	color:white;
}

/* 로그인 하라는 알림모달창 */
.loginalertmodal{
	width:100%;
	height:100%;
	position:fixed;
	top:0;
	left:0;
	display:flex;
	flex-direction:row;
	justify-content:center;
	align-items:center;
	z-index:1100;
	text-align:center;
	background-color:rgba(0,0,0,0.3);
}
.loginalertmodalhidden{
	display:none;
}
.alertdiv{
	box-shadow: 5px 6px 10px 1px grey;
    background: white;
    width: 300px;
    height: 150px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 5px;
}
.alerttextdiv{
	height: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.alertbtndiv{
	display: flex;
    justify-content: flex-end;
    height: 25%;
}
.alertnobtn{
	margin-right: 3%;
    border: 1px solid #346aff;
    background: none;
    border-radius: 5px;
    width: 70px;
}
.alertyesbtn{
	margin-right: 3%;
    border: 1px solid #346aff;
    background: #346aff;
    border-radius: 5px;
    width: 70px;
    color: white;
}

/* 삭제여부 묻는 모달창 */
.deletemodal{
	width:100%;
	height:100%;
	position:fixed;
	top:0;
	left:0;
	display:flex;
	flex-direction:row;
	justify-content:center;
	align-items:center;
	z-index:1100;
	text-align:center;
	background-color:rgba(0,0,0,0.3);
}
.deletemodalhidden{
	display:none;
}
.deletenobtn{
	margin-right: 3%;
    border: 1px solid #346aff;
    background: none;
    border-radius: 5px;
    width: 70px;
}
.deleteyesbtn{
	margin-right: 3%;
    border: 1px solid #346aff;
    background: #346aff;
    border-radius: 5px;
    width: 70px;
    color: white;
}